<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/><!--refiere a los iconos-->
</head>
<body>
    <header class="mainHeader">
        <div class="mainHeaderTopBar">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo"></a>
            <div class="searchBar">
                <input class="searchText" type="text" placeholder="Buscar productos, marcas y más">
                <div class="searchButton"><i class="fas fa-search"></i></div>
            </div>
            <h2 class="copyHeader">
                <i class=" fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#" class="burgerButton">
            <i class="fa fa-bars burger"></i>
        </a>
        <nav class="mainNavBar">
            <ul class="leftNavBar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="rightNavBar">
                <li><a href="./register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="./login.html">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav> 
    </header>
    <main>
        <form action="/" class="form">
            <div class="formDiv">
                <!-- <label>Nombre de usuario</label> -->
                <input type="text" name="nombreDeUsuario" class="formInput" placeholder="Nombre de usuario" required>
            </div>
            <div class="formDiv">
                <!-- <label>Contraseña</label> -->
                <input type="password" name="contraseña" class="formInput" placeholder="Contraseña" required>
            </div>
            <div class="formDivButton">
                <button type="submit" name="enviar" class="formButton">Enviar</button>
            </div>
        </form>    
    </main>    
    <footer>
        <section class="footerSection">
            <div class="payment">
                <div class="footerIcon">
                    <i class="fas fa-credit-card"></i>
                </div>    
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </div>    
        </section>
        <section class="footerSection">
            <div class="shipping">
                <div class="footerIcon">
                    <i class="fas fa-gift"></i>
                </div>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </div>        
        </section>
        <section class="footerSection">
            <div class="security">
                <div class="footerIcon">
                    <i class="fas fa-user-shield"></i>
                </div>    
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </div>    
        </section>
        <section class="footerSection">
            <div class="copyright">
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </div>    
        </section>
    </footer>
</body>
</html>