.footerSection {
    text-align: center;
}

.footerIcon {
    color: var(--celeste);
    font-size: 2em;
    padding-bottom: 10px;
}

footer{
    background-color: #ffffff;
    padding: 1% 2%;
    margin-top: 3%;
}

.copyright{
    color: var(--grisOscuro);  
    width: 100%;
    background-color: #ffffff;
    display: block;
    padding-top: 3%;
    padding-bottom: 0%;
    padding-left: 1.5%;
    text-align: start;
}

.footerFlex{
    padding: 2%;
}

@media (min-width: 769px){
    .footerFlex {
        display: flex;
        padding: 2%;
    }

    /* .copyright{
        width: 100%;
        background-color: #ffffff;
        display: block;
        padding-top: 5%;
        padding-bottom: 2%;
        padding-left: 1.5%;
        text-align: start;
    } */
}