.mainHeader {
    background-color: var(--amarillo);
    padding: 3%;
}

.mainHeaderTopBar {
    justify-content: space-between;
    margin-bottom: 2vh;
    text-align: center;
}

/* input{
    position: relative;
    height: 5vh;
    width: 25vw;
    border: none;
    border-radius: 5px 0px 0px 5px;
    margin-left: 10px;
} */

/* .searchLogo{
    justify-content: space-evenly;
} */

.logo{
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: -40%;
}

.searchLogo{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
}

.searchBar {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--grisClaro);
    border: none;
    border-radius: 6px;
}

.searchText {
    width: 89%;
    border: none;
    border-radius: 6px;
}

.searchButton {
    border: none;
    color: black;
    background-color: var(--grisClaro);
    width: 9%;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.copyHeader{
    font-weight: 400;
    text-align: center;
    margin: 0;
    font-size: 1em;
    padding-top: 3vh;
}

.burgerButton {
    background-color: var(--azul);
    color: #fff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.mainNavBar{
    display: none;
    padding-top: 2%;
}

.mainNavBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mainNavBar a{
    text-decoration: none;
    color: var(--grisOscuro);
    display: inline-block;
    padding: 1% 0;
    font-size: 17px;
}

@media (min-width: 361px){
/* .searchBar {
    display: inline-block;
    margin: auto;
} */

}

@media (min-width: 768px){
    .mainHeaderTopBar{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo{
        max-width: 49%;
    }

    .searchBar{
        display: flex;
        max-width: 49%;
        margin-right: 15%;
    }

    .searchLogo{
        display: flex;
    }

    .copyHeader {
        max-width: 45vw;
        text-align: end;
        padding-top: 0;
    }

    .burgerButton{
        display: none;
    }

    .mainNavBar {
        display: flex;
        justify-content: space-between;
        margin-top: 1vh;
    }

    .mainNavBar ul {
        display: flex;
    }

    .mainNavBar li {
        margin: 0 8px;
    }

    .rightNavBar li a i {
        padding-left: 3px;
    }
}

@media (min-width: 1200px){
    .mainHeaderTopBar, .mainNavBar{
        max-width: 1200px;
        margin: auto;
    }

    .mainHeaderTopBar {
        align-items: center;
    }

    .copyHeader {
        max-width: none;
    }

    .mainNavBar {
        margin-top: 1vh;
    }

    .mainNavBar li {
        margin: 0 10px;
    }

    .mainNavBar a{
        font-size: 19px;
    }
}