@import "./header.css";
@import "./footer.css";

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--grisClaro);
}

section.banner img{
    width: 100%;
}

.mainTitle {
    font-size: 24px;
    color: var(--grisOscuro);
}

.price{
    font-size: 18px;
    font-weight: bold;
}

.discount {
    font-size: 16px;
}

.description {
    font-size: 16px;
    color: #666;
    font-weight: normal;
    display: none;
    margin-top: 20px;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: white;
    margin: 10px 0px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

.mainArticle{
    position: relative;
}

.mainArticle i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    }

main section h3{
    margin: 20px 0px;
}

article div.mainArticle div{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.discount{
    color: var(--verde);
}

.price,
.discount{
    display: flex;
}

.price{
    width: 30%;
}

.discount{
    width: 69%;
    padding-bottom: 5%;
}

.price, .discount, .description{
    margin-left: 4%;
    margin-bottom: 4%;
}

@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-width: auto;
    }

    .products article{
        width: 42vw;
    }
  
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 769px){
    main section article .description{
        display: block;
    }

    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .products article{
        width: 20vw;
    }

    .burger-menu{
        display: none;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

