@import "./header.css";
@import "./footer.css";

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

main{
    background-color: var(--grisClaro);
    height: 40vh;
}

h2{
    margin-bottom: 2vh;
}

.form {
    padding: 2vh 3vw;
}

.formDiv {
    margin-bottom: 2vh;
}

.formDivButton {
    margin-bottom: 2vh;
    text-align: center;
} 

label {
    margin-bottom: 1vh;
    display: block;
    font-weight: bold;
}

.option{
    margin-bottom: 1vh;
    display: inline;
    font-weight: normal;
}

.optionCheckbox {
    margin-bottom: 1vh;
    display: block;
    font-weight: normal;
}


.formInput{
    width: 100%;
    padding: 1vh 1vw;
    border: none;
    border-radius: 6px;
}

.formButton{
    width: 100%;
    border: none;
    background-color: var(--celeste);
    color: #ffffff;
    padding: 1vh 1vw;
    border-radius: 6px;
    font-size: 1em;
}

.text{
    margin-left: 2%;
}

.file{
    width: 100%;
    background-color: var(--grisOscuro);
    color: #ffffff;
    border: none;
    border-radius: 6px;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
}